-@channels.each do |c|
  -unread = c.unread?
  %p
    -if unread
      =link_to "#{c.name}(#{unread})", {controller: :home, action: :channel, id: CGI.escape(c.name)}, {class: "metro_link unread_channel", name: c.name}
    -else
      =link_to c.name, {controller: :home, action: :channel, id: CGI.escape(c.name)}, {class: "metro_link", name: c.name}
