/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_directory . 
*/

@-ms-viewport{ width: device-width; }
@media screen and (max-width: 800px){
  @-ms-viewport { width: 480px !important; }
}
@media screen and (max-width: 480px) {
  @-ms-viewport { width: 320px !important; }
}


body{
  text-align:center;
  background:black;
  color:white;
  font-family:serif;
}
#all, .all{
  max-width:860px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

#notice{ color:green; }
#error{ color:red; }
.small{ font-size:small;}

a{ color:white;}

img{ max-width:100%; }

.lightgray{color:lightgray}

span.none{
  display:none;
}
.h1{
  font-size:7em;
}
.h2{
  font-size:3em;
}
.right{
  float:right;
}
.left{
  float:left;
}
.clear{
  clear:both;
}
a.metro_link{
  font-size:x-large;
  text-decoration: none;
}

.nick{color:mistyrose}

a.unread_channel{
  color:mistyrose
}
